.front-door {
  position: relative;
  display: flex;
  flex-direction: column;

  .drop-down-menu {
    position: absolute;
    top: 15px;
    left: 20px;
  }

  .cam {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    img {
      max-width: 50%;
      height: calc(100vh - 50px);
      object-fit: contain;
      -o-object-fit: contain;
    }
  }
}
