.temperature {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;

  .drop-down-menu {
    position: absolute;
    top: 24px;
    left: 12px;
    z-index: 3;
  }
  .thermostat {
    position: relative;
    border: 1px solid;
    border-radius: 5px;
    padding: 20px 10px 5px 10px;
    height: 400px;
    width: 300px;
    background-color: #f9f9f9;

    .status {
      position: absolute;
      top: 30px;
      color: cornflowerblue;
      .target-temperature-pointer {
        position: absolute;
        width: 27px;
        top: 150px;
        left: 55px;
        height: 2px;
        background-color: darkgrey;
      }
      .current-temperature {
        position: absolute;
        font-weight: 500;
        left: 5px;
        &:after {
          content: ' ';
          width: 23px;
          position: absolute;
          top: 19px;
          right: -27px;
          height: 1px;
          background-color: darkgray;
        }
        .room {
          position: absolute;
          top: 24px;
          left: 4px;
          font-size: 0.7rem;
          line-height: 1;
        }
      }
      .temperature-line {
        position: absolute;
        right: -65px;
        width: 10px;
      }
      .temperature-solid-line {
        top: 24px;
        height: 262px;
        background: repeating-linear-gradient(
          to bottom,
          transparent,
          transparent 3px,
          darkgray 1px,
          darkgray 4px
        );
      }
      .temperature-buffer-line {
        background: repeating-linear-gradient(
          to bottom,
          lightgray,
          lightgray 3px,
          gray 1px,
          gray 4px
        );
      }
    }

    .thermostat-status {
      display: flex;
      position: relative;
      justify-content: center;
      font-weight: 400;
      margin-bottom: 10px;
      .current-mode {
        font-weight: 600;
      }
      .run-status {
        position: absolute;
        right: 3px;
        top: -5px;
        svg {
          width: 23px;
          height: 23px;
          fill: darkgray;
        }
        &.run {
          svg {
            animation-name: spin;
            animation-duration: 5000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
        }
      }
    }
    .temperature-setter {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      min-height: 38px;
      position: absolute;
      top: 154px;
      left: 95px;
      button {
        margin-left: 5px;
        &:focus {
          outline: 0 !important;
          box-shadow: none;
        }
      }
      .setter-view {
        display: flex;
        padding-left: 2px;
        padding-top: 5px;
        svg {
          width: 20px;
          height: 20px;
        }
        .ok svg {
          fill: green;
        }
        .cancel svg {
          fill: red;
        }
        .up {
          position: absolute;
          top: -33px;
          left: 12px;
          svg {
            fill: gray;
            width: 30px;
            height: 30px;
          }
        }
        .down {
          position: absolute;
          top: 42px;
          left: 12px;
          svg {
            fill: gray;
            width: 30px;
            height: 30px;
          }
        }
        .temperature-input {
          width: 80px;
        }
      }
      .target-temperature {
        font-size: 3rem;
        font-weight: 500;
        cursor: pointer;
        padding: 1px;
        position: absolute;
        color: blue;
        left: 10px;
        top: -10px;
        &:hover {
          border: 1px lightgray solid;
          padding: 0px;
        }
      }
    }
    .mode-selection {
      position: absolute;
      bottom: 24px;
      left: 76px;
      display: flex;
      justify-content: center;
      button {
        margin: 3px;
      }
    }
    .notification-bar {
      color: red;
      font-size: 0.85rem;
      padding-top: 10px;
      min-height: 33px;
    }
  }
  .control-panel {
    display: flex;
  }
  .history-table {
    margin-top: 10px;
  }
  .night {
    background-color: darkgray;
    color: white;
  }
  .midnight {
    background-color: #555;
    color: white;
    font-weight: 400;
  }
  .day {
    background-color: white;
    color: black;
  }
  .noon {
    background-color: white;
    color: black;
    font-weight: 400;
  }
  .dawn {
    background-color: lightpink;
    color: black;
  }
  .dusk {
    background-color: deeppink;
    color: white;
  }
  @keyframes spin {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}
