.temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;

  .drop-down-menu {
    position: absolute;
    top: 15px;
    left: 20px;
  }
  .status {
    display: flex;
    font-size: 1.8rem;
    padding-left: 94px;
    .current-temperature {
      color: blue;
      font-weight: 400;
    }
    .current-humidity {
      margin-left: 2rem;
      color: lightslategrey;
      font-size: 1.3rem;
      margin-top: auto;
      margin-bottom: 3px;
    }
  }

  .thermostat {
    border: 1px solid;
    border-radius: 5px;
    padding: 20px 10px 5px 10px;
    min-width: 342px;

    .thermostat-status {
      display: flex;
      position: relative;
      justify-content: center;
      font-weight: 400;
      margin-bottom: 10px;
      .current-mode {
        font-weight: 600;
      }
      .run-status {
        position: absolute;
        right: 3px;
        top: -10px;
        svg {
          fill: cornflowerblue;
        }
        &.run {
          svg {
            animation-name: spin;
            animation-duration: 5000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
          }
        }
      }
    }
    .temperature-setter {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      min-height: 38px;
      button {
        margin-left: 5px;
      }
      .setter-view {
        display: flex;
        padding-left: 90px;
        svg {
          width: 20px;
          height: 20px;
        }
        .ok svg {
          fill: green;
        }
        .cancel svg {
          fill: red;
        }
        .temperature-input {
          width: 80px;
        }
      }
      .target-temperature {
        font-size: 1.3rem;
        font-weight: 500;
        cursor: pointer;
        padding: 1px;
        position: relative;
        &:hover {
          border: 1px lightgray solid;
          padding: 0px;
        }
        span {
          font-size: 0.95rem;
          margin-left: 10px;
          color: gray;
          position: absolute;
          margin-top: 7px;
        }
      }
    }
    .mode-selection {
      display: flex;
      justify-content: center;
      button {
        margin: 3px;
      }
    }
    .notification-bar {
      color: red;
      font-size: 0.85rem;
      padding-top: 10px;
      min-height: 33px;
    }
  }
  .control-panel {
    display: flex;
  }
  .history-table {
    margin-top: 10px;
  }
  .night {
    background-color: darkgray;
    color: white;
  }
  .midnight {
    background-color: #555;
    color: white;
    font-weight: 400;
  }
  .day {
    background-color: white;
    color: black;
  }
  .noon {
    background-color: white;
    color: black;
    font-weight: 400;
  }
  .dawn {
    background-color: lightpink;
    color: black;
  }
  .dusk {
    background-color: deeppink;
    color: white;
  }
  @keyframes spin {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}
