.temperature {
  display: flex;
  flex-direction: column;
  align-items: center;

  .status {
    font-size: 2rem;
    b {
      color: blue;
    }
  }
  .control-panel {
    display: flex;
  }
  .legend {
    display: flex;
    align-self: flex-end;
    div {
      display: flex;
      div {
        margin: auto 2px auto 2px;
      }
    }
  }
  .night {
    background-color: darkgray;
    color: white;
  }
  .midnight {
    background-color: #555;
    color: white;
    font-weight: 400;
  }
  .day {
    background-color: white;
    color: black;
  }
  .noon {
    background-color: white;
    color: black;
    font-weight: 400;
  }
  .dawn {
    background-color: lightpink;
    color: black;
  }
  .dusk {
    background-color: deeppink;
    color: white;
  }
}
