.garage {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 2rem;
  }

  .status {
    font-size: 4rem;
    font-weight: 600;

    &.status-close {
      color: blue;
    }

    &.status-open {
      color: red;
    }
  }

  .control-panel {
    margin: 5px auto 5px auto;
  }

  .history-table {
    td.status-open {
      color: blue;
    }
    td.status-close {
      color: red;
    }
  }
}
