.garage {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 2rem;
    position: relative;
  }

  .drop-down-menu {
    position: absolute;
    top: 18px;
    left: -50px;
  }

  .status-panel {
    position: relative;

    .status {
      font-size: 4rem;
      font-weight: 600;
      color: black;
    }

    .status-open {
      color: red;
      animation: blinker 1s linear infinite;
    }
  }
  .show-control {
    position: absolute;
    top: 9px;
    right: -90px;
    display: flex;
    flex-direction: column;
  }
  .control-panel {
    margin-top: 15px;
  }
  .cam-div {
    img {
      max-width: 100vw;
    }
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}
