.garage {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 2rem;
  }

  .status-panel {
    position: relative;

    .status {
      font-size: 4rem;
      font-weight: 600;
      color: black;
    }

    .status-open {
      color: red;
      animation: blinker 1s linear infinite;
    }
  }
  .history-btn {
    position: absolute;
    top: 9px;
    right: -90px;
  }
  .control-panel {
    margin-top: 15px;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}
